.tooltip {
    position: absolute;
    text-align: left;
    width: 200px;
    height: 8px;
    padding: 2px;
    font-family: Georgia;
    background: lightsteelblue;
    border-radius: 8px;
    /*  pointer-events: none;	This line needs to be removed */
}

.table {
    font-size: 0.7em;
}

.x-axis{
    font-size: 7px;
}